body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.status-header {
    font-size: 1.5em;
    font-weight: 100;
    text-underline-position: below;
}

.inDev {
    background-color: rgba(160, 160, 160, 0.623);
}

.inMain {
    background-color: rgba(130, 130, 130, 0.623);
}

.inClosed {
    background-color: rgba(145, 145, 145, 0.623);

}